
{% extends "core/base.html" %}
{% load static %}
{% block content %}


<!--NIKNAME -->
<div id="onboarding-overlay" style="display: none; position: fixed; top:0; left:0; width:100%; height:100%; background: rgba(255,255,255,0.98); z-index:9999; padding: 2rem; text-align: center;">
    <div class="container" style="max-width: 400px; margin: 100px auto;">
        <h3>Benvenuto!</h3>
        <p class="text-muted">Scegli un nickname per identificarti:</p>
        <input type="text" id="nickname-input" class="form-control mb-3" placeholder="Nickname" maxlength="50" />
        <button class="btn btn-primary w-100" id="save-nickname">Inizia</button>
    </div>
</div>


<!--PARTE NORMALE -->
<div class="container-fluid px-3 pt-4">

    <div class="mx-auto" style="max-width: 420px;">

        <h4 class="text-center fw-semibold mb-4">Your-Load</h4>

        <div class="mb-3">
            <input type="text" id="nome-scheda" class="form-control form-control-lg"
                   placeholder="Nome scheda (es. Palestra)">
        </div>

        <button id="crea-scheda" class="btn btn-success btn-lg w-100 mb-4">
            Crea scheda
        </button>

        <div id="schede-container" class="d-grid gap-3"></div>

    </div>

    <p></p>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'core/js/storage.js' %}"></script>
<script src="{% static 'core/js/schede.js' %}"></script>
<script src="{% static 'core/js/onboardin.js' %}"></script>

{% endblock %}
