
{% extends "core/base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid px-3 pt-4">
  <div class="mx-auto" style="max-width: 420px;">

    <h4 class="text-center mb-4">Risultato Test</h4>

    <div id="risultato-container"></div>

    <div class="mt-4 d-grid gap-2">
      <a href="/scheda/{{ scheda_id }}/"
         class="btn btn-primary btn-lg">
        Torna alla scheda
      </a>

      <a href="/" class="btn btn-outline-secondary btn-lg">
        Home
      </a>
    </div>

  </div>
</div>


<h4 class="text-center mb-4">Risultato Test</h4>

<div class="alert alert-success text-center">
    Test salvato correttamente
</div>

<div id="risultato-container"></div>

{% endblock %}

{% block scripts %}
<script>
  const SCHEDA_ID = "{{ scheda_id }}";
  const TEST_INDEX = {{ test_index }};
</script>
<script src="{% static 'core/js/risultato.js' %}"></script>
{% endblock %}
